*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.hero{
    background-image: linear-gradient(120deg, rgba(102, 119, 179, 0.699) 0%, rgba( 196, 209, 255 , 0.692) 100%), url("../../img/publicidadArriba2.png");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.epetLogo  {
    margin-right: 20%;
    margin-left: 45%;
    height: 100px;
    color: #a18cd1;
}

.epetLogo  a {
    position: relative;   
    color: #6677B3;
    top: 35%;
    right: 15%;
    text-decoration: none;
}

.card h4{
    padding-top: 9%;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
}

.textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 60px;
}

.textos-hero p{
    font-size: 30px;
    margin-bottom: 20px;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #a18cd1;
    border-radius: 8px;
    color: #fff;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}

.titulo1{
    font-family: 'Advent Pro', sans-serif;
    font-weight: 350;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.titulo{
    font-family: 'Advent Pro', sans-serif;
    font-weight: 350;
    font-size: 37px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    font-family: 'Advent Pro', sans-serif;
    text-align: left;
}

.titulo.right{
    font-family: 'Advent Pro', sans-serif;
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    font-family: 'Asap', sans-serif;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px;
}
.parrafo1 {
    font-family: 'Asap', sans-serif;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 23px;
}
.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}

/* Info */

.info{
    background: #6677B3;
    color: #fff;
}


/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.acomodar-cartas-abajo {
    margin-top: 1%;
}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #FFF2D0;
    font-size: 50px;
}

.color-titulo-carta {
    font-family: 'Advent Pro', sans-serif;
    color: #6677B3;
    font-size: 22px;
    padding: 7px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}
.centrar-text-carta{
    font-size: 16px;
    padding: 7px;
}

/* galeria */

.galeria{
    background: #6677B3;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

/* info2 */

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}


/* footer */

footer{
    background: #6677B3;
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: tomato;
    background: #fff;
}


@media screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }
    /* estilos generales */
    .titulo{
        font-family: 'Advent Pro', sans-serif;
        font-size: 35px;
    }

    .titulo.left{
        font-family: 'Advent Pro', sans-serif;
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    /* section */
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    /* Cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }


}
.footer-bottom{
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    font-family: 'Asap', sans-serif;
    text-align: center;
    color: black;
    font-size: 18px;
    
}
.footer-bottom a{
    color: black;
    font-size: 18px;
    font-family: 'Asap', sans-serif;
}

@media screen and (max-width:400px){
    .titulo,
    .textos-hero h1{
        font-family: 'Advent Pro', sans-serif;
        font-size: 30px;
    }

    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }

    .card{
        height: 380px;
    }

    .website .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .galeria-cont>img{
        width: 97%;
    }
}