body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

a {
    color: darkgrey;
    text-decoration: none;
}

/*parametros generales*/


.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}

.wrapper {
    overflow: auto;
}
/*Aqui comienza el codigo necesario para el header*/
.menu {
    margin-top: 15px;
    margin-bottom: 140px;
    
}
.menu-izq img {
    width: 38%;
    padding: 4px 50px 30px 90px;
    
}

.menu-centro h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 57px;
    color: black;
    padding-left: 13px;
}

.menu-centro a {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: black;
    padding: 20px;
}

.menuUbicacion {
    position: absolute;
    top: 100px;
    left: 400px;
}
.gris {
    color:darkgrey;
}
.carrito {
    position: absolute;
    top: 49px;
    right: 80px;
    font-size: 15px;
    width: 2.5%;
}
.campana {
    position: absolute;
    top: 49px;
    right: 124px;
    font-size: 15px;
    width: 2.5%;
}

.miCuenta {
    position: absolute;
    top: 49px;
    right: 28px;
    font-size: 15px;
    width: 2.5%;
}
.botonCuenta {
    text-decoration: none;
    color: black;
}
.menu-izq, .menu-centro {
    float: left;
}

.lineaVerticalAbajo {
    background-color:#E3E3E3  ;
    height: 7px;
    margin-top: -150px;
    border-color: transparent;
}


.tituloRegistro {
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: #FFEFC4;
    padding: 20px;
}/*Aqui finaliza el codigo necesario para el header*/

/*Aqui comienza el codigo necesario para el main*/

.titulos {
    font-size: 25px;
    font-family: 'Advent Pro', sans-serif;
}

.cuerpo-pagina {
    font-family: 'Asap', sans-serif;
}

.padding-zona{
    padding-top: 10%;
    padding-left: 5%;
    font-size: 20px;
    
}
/*css al select de filtrar por provincia y cantones*/
.inputs-select {
    display: block;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 65%; 
    box-sizing: border-box;
   margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

/*css al buscar */

.buscar-por-proveedor {
    background-image: url(../../imgs/iconosYLogo/lupa%20copy.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    width: 25%;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
    align-items: center;
    padding-left: 25px;
}

.mover-search-bar {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}


.padding-categorias {
    list-style: none;
    padding-top: 15%;
    display: grid;
    grid-template-columns: 90% 10%;
}

.contenedor > .item1 > .padding-zona input {
    cursor: pointer;
}

/*Css aplicado sobre el contenedor de categoria*/
.contenedor > .item1  h4 {
    
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

.contenedor > .item1 > li > ul {  
    font-family: 'Asap', sans-serif;
}

.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tamano {
    font-size: 24px;
    font-family: 'Asap', sans-serif;
}
.contenedor{
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    
}

[class^="item"]{
    color: #fff;
}

.item1{
    color: black;
    
}

.item2{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 1fr); 
    column-gap: 1%;
    padding-left: 1%;
    padding-right: 1%;
    row-gap: 4%;
}

.contenedor > .item1 > .padding-categorias > div > li > ul {
    padding-left: 5%;
}
/*Inicio css para tipografia*/
.tipografia-cuerpo{
    font-family: 'Asap', sans-serif;
    font-size: 20px;
}

.tipografia-titulos {
    font-family: 'Advent Pro', sans-serif;
    font-size: 35px;
}/*fin de css para tipografia*/

/*Css a  las cartas*/

.parrafos-cartas {
    font-family: 'Asap', sans-serif;
    padding-top: 15%;
    text-align: left;
}

.precio {
    font-family: 'Asap', sans-serif;
    padding-top: 5%;
    padding-left: 3%;
    text-align: left;

}

.proveedores {
    font-family: 'Asap', sans-serif;
}

.azul {
    color:#6677B3;
}
.contenedor > .item2 > article{
    box-shadow: 2px 2px 10px black;
    color: black;
}
.contenedor > .item2 > article > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor > .item2 > article > div > img {
    width: 50%;
}

.contenedor > .item2 > article > p {
    color: black;
}

.dentro {
    padding: 10px;
}

/*Finalizacion del codigo main*/
/*Aqui comienza el codigo necesario para el footer*/
ul {
    font-family: 'Asap', sans-serif;
    list-style: none;
    margin-right: 50px;
}

.footer{
    background:#E3E3E3;
    color: black;
    height: 4003x;
    position: relative;
    margin-top: 27%;
    text-align: center;
}

.footer .footer-content{
    height: 300px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: black;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

.footer .footer-content .about h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .links h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .contact-form h1 span {
    color: #6677B3;
    font-size: 51px;
   font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: 'Advent Pro', sans-serif;
}

.tipo{
    font-family: 'Asap', sans-serif;
}
.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a:hover{
    color: black;
    margin-left: 15px;
    transition: all .5s;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a{
    border: 1px solid black;
    width: 45px;
    color: black;
    height: 45px;
    padding-top: 5px;
    margin-right: 10pxs ;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 10px;
    transition: all .8s;
     font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a:hover{
    border: 3px solid white;
    color: black;
    transition: all .5s;

}

.footer .footer-bottom{
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    font-family: 'Asap', sans-serif;
    
}
.socials img {
    width: 8%;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 70px;
}
.footer .footer-content .contact-form .contact-input{
    background:#C4D1FF;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    width: 90%;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #FFF2D0;
}

.footer .footer-content .contact-form .contact-btn{
        float: right;
}

.btn-big{
    padding: .7rem 1.5rem;
    line-height: 1.5rem;
    border-radius: 20px;
}

.footer-section h1 {
    margin-right: 12px;
}

