body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

a {
    color: darkgrey;
    text-decoration: none;
}

.wrapper {
    overflow: auto;
}

.menu {
    margin-top: 15px;
    margin-bottom: 140px;
    
}

.menu-izq img {
    width: 38%;
    padding: 4px 50px 30px 90px;
    
}

.menu-centro h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 57px;
    color: black;
    padding-left: 13px;
}

.menu-centro a {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: black;
    padding: 20px;
}

.menuUbicacion {
    position: absolute;
    top: 100px;
    left: 400px;
}
.gris {
    color:darkgrey;
}
.carrito {
    position: absolute;
    top: 49px;
    right: 80px;
    font-size: 15px;
    width: 2.5%;
}
.campana {
    position: absolute;
    top: 49px;
    right: 124px;
    font-size: 15px;
    width: 2.5%;
}

.miCuenta {
    position: absolute;
    top: 49px;
    right: 28px;
    font-size: 15px;
    width: 2.5%;
}
.botonCuenta {
    text-decoration: none;
    color: black;
}

.menu-izq, .menu-centro {
    float: left;
}

.lineaVerticalAbajo {
    background-color:#E3E3E3  ;
    height: 7px;
    margin-top: -150px;
    border-color: transparent;
}

.float1, .float2, .tabla, .formulario {
    float: left;
}

.tituloRegistro {
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: #C4D1FF ;
    padding: 15px;
}

.tabla {
    border: 2px solid #E3E3E3;
    border-collapse: collapse;
    width: 70%;
}

.titulos {
    font-family: 'Advent Pro', sans-serif;
    font-size: 23px;
    text-align: center;
    color: black;
    padding: 20px;
    border: 2px solid #E3E3E3;
    font-weight: 150;
    background-color: #E3E3E3;
    
}
.producto {
    font-family: 'Asap', sans-serif;
    text-align: center;
    border: 2px solid #E3E3E3;
    font-size: 20px;
}
.producto-img {
    border: 2px solid #E3E3E3;
    width: 50%;
}

.infoProducto {
    font-size: 20px;
    padding-top: 55px;
    font-family: 'Asap', sans-serif;
    margin-left: -45px;
}
.proveedor {
    font-family: 'Asap', sans-serif;
    color:#6677B3;
    margin-left: -45px;
    font-size: 18px;
}

.tabla img {
    padding: 10px;
    width: 70%;
}
.counter-button {
  padding: 10px;
  border: 2px solid grey;
  display: flex;
  width: 85px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 17px;
  color: black;
  position: relative;
  left: 25px;
}
.counter-button button {
  background: transparent;
  border: none;
  font-size: 18px;
  color: black;
  width: 30px;
}
.formulario {
    margin: 0px 30px;
    box-shadow: 2px 2px 5px #999;
    font-family: 'Asap', sans-serif;
    font-size: 22px;
    padding: 20px;
    width: 23%;
}
.botonFinalizar{
    width: 200px;
    padding: 10px 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 17px;
    background-color: #C4D1FF;
    color: black;
    border-style: solid;
    border-radius: 40px;
    border-width:thin;
    box-shadow: 2px 2px 5px #999;
    margin-top: 20px;
}
.botonFinalizar a {
    font-family: 'Asap', sans-serif;
    color: black;
    text-decoration: none;
    
}

.formulario h3 {
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 24px;
    padding: 10px;
    
}

.formulario h4 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 23px;
    
}

.tabla, .formulario {
    margin-top: 9px;
}

.footer{
    background:#E3E3E3;
    color: black;
    height: 4003x;
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.footer .footer-content{
    height: 300px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: black;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

.footer .footer-content .about h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .links h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .contact-form h1 span {
    color: #6677B3;
    font-size: 51px;
   font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: 'Advent Pro', sans-serif;
}

.tipo{
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a:hover{
    color: black;
    margin-left: 15px;
    transition: all .5s;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a{
    border: 1px solid black;
    width: 45px;
    color: black;
    height: 45px;
    padding-top: 5px;
    margin-right: 10pxs ;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 10px;
    transition: all .8s;
     font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a:hover{
    border: 3px solid white;
    color: black;
    transition: all .5s;

}

.footer .footer-bottom{
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    font-family: 'Asap', sans-serif;
    
}
.socials img {
    width: 8%;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 70px;
}
.footer .footer-content .contact-form .contact-input{
    background:#C4D1FF;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    width: 90%;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #FFF2D0;
}

.footer .footer-content .contact-form .contact-btn{
        float: right;
}

.btn-big{
    padding: .7rem 1.5rem;
    line-height: 1.5rem;
    border-radius: 20px;
}
ul {
    list-style: none;
    margin-right: 50px;
}

.footer-section h1 {
    margin-right: 12px;
}


