body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

a {
  color: darkgrey;
  text-decoration: none;
}

.wrapper {
  overflow: auto;
}
.menu {
  margin-top: 15px;
  margin-bottom: 140px;
}
.menu-izq img {
  width: 38%;
  padding: 4px 50px 30px 90px;
}

.black {
  color: black;
}

.grey {
  color: grey;
}

.menu-centro h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 57px;
    color: black;
    padding-left: 13px;
}

.menu-centro a {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: black;
    padding: 20px;
}

.menuUbicacion {
    position: absolute;
    top: 100px;
    left: 400px;
}
.gris {
    color:darkgrey;
}
.carrito {
    position: absolute;
    top: 49px;
    right: 80px;
    font-size: 15px;
    width: 2.5%;
}
.campana {
    position: absolute;
    top: 49px;
    right: 124px;
    font-size: 15px;
    width: 2.5%;
}

.miCuenta {
    position: absolute;
    top: 49px;
    right: 28px;
    font-size: 15px;
    width: 2.5%;
}
.botonCuenta {
  text-decoration: none;
  color: black;
}
.miCate {
    background-color: transparent;
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    top: 35px;
    right: 50px;
    font-size: 14px;
    border-color: black;
    border-style: solid;
    border-width:medium;
}

.menu-izq,
.menu-centro {
  float: left;
}

.lineaVerticalAbajo {
  background-color: #e3e3e3;
  height: 7px;
  margin-top: -150px;
  border-color: transparent;
}

.caja {
  margin: 20px auto 40px auto;
  border: 1px solid black;
  height: 30px;
  overflow: hidden;
  width: 230px;
  position: relative;
}
select {
  background: transparent;
  border: none;
  font-size: 17px;
  height: 30px;
  padding: 5px;
  width: 250px;
}
select:focus {
  outline: none;
}

.caja::after {
  content: "\025be";
  display: table-cell;
  padding-top: 7px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  right: 0px;
  pointer-events: none;
}

.tituloPubli1 {
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  margin-left: -17px;
  margin-top: 10px;
  color: #6677b3;
}
.estatus,
.tituloPubli1,
.searchbar {
  width: 33%;
  float: left;
}

.encabezado {
    position: relative;
    left: 480px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.tituloPubli1 {
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  margin-left: -17px;
  margin-top: 10px;
  color: #6677b3;
}
.estatus,
.tituloClient {
  width: 33.33%;
}
.estatus {
  margin-left: 20px;
}
.tabla {
  border: 2px solid #e3e3e3;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-right: 10px;
}

.producto-img {
  border: 2px solid #e3e3e3;
  width: 50%;
}
.titulos {
  font-family: font-family "Asap", sans-serif;
  font-size: 16px;
  text-align: center;
  color: black;
  padding: 20px;
  border: 2px solid #e3e3e3;
  font-weight: 150;
  background-color: #e3e3e3;
  font-weight: 500;
}

td {
  border: 2px solid #e3e3e3;
}

.pen {
  width: 23%;
  margin-left: -215px;
  margin-right: -215px;
}
.acomodar-boton-crear-categoria {
  position: relative;
  left: 300px;
  top: 22px;
}
.letra {
  font-size: 20px;
}

.footer{
  background:#E3E3E3;
  color: black;
  height: 4003x;
  position: relative;
  margin-top: 40px;
  text-align: center;
}

.footer .footer-content{
  height: 300px;
  display: flex;
}

.footer .footer-content .footer-section{
  flex: 1;
  padding: 25px;
  
}

.footer .footer-content h1,
.footer .footer-content h2{
  color: black;
  font-size: 30px;
  font-family: 'Advent Pro', sans-serif;
}

.footer .footer-content .about h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .links h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .contact-form h1 span {
    color: #6677B3;
    font-size: 51px;
   font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: 'Advent Pro', sans-serif;
}

.tipo{
    font-family: 'Asap', sans-serif;
}
.footer .footer-content .links ul a{
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a:hover{
  color: black;
  margin-left: 15px;
  transition: all .5s;
  font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a{
  border: 1px solid black;
  width: 45px;
  color: black;
  height: 45px;
  padding-top: 5px;
  margin-right: 10pxs ;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 10px;
  transition: all .8s;
   font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a:hover{
  border: 3px solid white;
  color: black;
  transition: all .5s;

}

.footer .footer-bottom{
  background: rgb(255, 255, 255);
  height: 50px;
  width: 100%;
  text-align: center;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  font-family: 'Asap', sans-serif;
  
}
.socials img {
  width: 8%;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 70px;
}
.footer .footer-content .contact-form .contact-input{
  background:#C4D1FF;
  color: black;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: none;
  width: 90%;
  font-family: 'Asap', sans-serif;
}

.footer .footer-content .contact-form .contact-input:focus{
  background: #FFF2D0;
}

.footer .footer-content .contact-form .contact-btn{
      float: right;
}

.btn-big{
  padding: .7rem 1.5rem;
  line-height: 1.5rem;
  border-radius: 20px;
}
ul {
  list-style: none;
  margin-right: 50px;
}

.footer-section h1 {
  margin-right: 12px;
}

.switch {
  top: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
