
.acomodar-boton-crear-categoria {
    margin-top: 13.3%;
}

.menu-izq, .menu-centro, .segundaSeccion, .primeraSeccion {
    float: left;
}

.advertencias {
    width: 200px;
    text-align: center;
    font-family: 'Asap', sans-serif;
    color: red;
    margin-top: -30px;
    margin-left: 66px;
    font-size: 18px;
}

.tituloRegistro {
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: #C4D1EF;
    padding: 15px;
}
.formulario {
    margin: 15px 200px;
    box-shadow: 2px 2px 5px #999;
    font-family: 'Asap', sans-serif;
    font-size: 22px;
    padding: 20px;
}
.formulario p {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.formulario form {
    margin-top: 40px;
    margin-bottom: -20px;
}

.primeraSeccion, .segundaSeccion, .terceraSeccion {
    width: 33%;
}

.botonRegistrarMascota {
    position: relative;
    top: -107px;
    left: 700px;
    width: 190px;
    padding: 10px 30px;
    font-size: 17px;
    background-color:#E3E3E3 ;
    color: black;
    border-style: solid;
    border-radius: 40px;
    border-width:thin;
    box-shadow: 2px 2px 5px #999;
    text-decoration: none;
}

.letra {
        color: black;
    text-decoration: none;
}
.caja {
   margin:20px auto 40px auto;	
   border:1px solid #d9d9d9;
   height:30px;
   overflow: hidden;
   width: 230px;
   position:relative;
}
select {
   background:transparent;
   border: none;
   font-size: 17px;
   height: 30px;
   padding: 5px;
   width: 250px;
}
select:focus{outline: none;}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}

.botonSubirFoto{
    position: relative;
    top: 25px;
    left: 120px;
    width: 250px;
    padding: 10px 30px;
    margin-bottom: 40px;
    font-size: 17px;
    background-color: transparent;
    color: black;
    border-style: solid;
    border-radius: 40px;
    border-width:thin;
    box-shadow: 2px 2px 5px #999;
    margin-top: 200px;
}
.checkboxes {
    margin-left: 15px;
    text-align: center;
}
.opciones {
    background-color: #FFEFC4;
    padding: 7px;
}
input[type=checkbox] {
    transform: scale(1.6);
    margin-right: 10px;
    margin-bottom: 4px;
}
.redaccionVacunas {
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    text-align: center;
}
.cbox1 {
    font-family: 'Asap', sans-serif;
    font-size: 17px;
    padding: 5px;
    
}
ul {
    list-style: none;
    margin-right: 50px;
}

.segundaSeccion a {
    text-decoration: none;
    color: black;
}
